<div id="textbox">
	<p class="alignleft"></p>
	<p class="aligncenter" style="padding-top: 20px"><b>CORE 1 PT TI TOOL</b></p>
	<p class="alignright"><img style="margin-right: 1.5%;" alt="NOKIA-img" src="assets/Nokia-Logo.jpg" width="75"
			height="60" />
	</p>
</div>

<div class="demo">
	<div class="input">
		<input #pastedURL (keydown.enter)="go(pastedURL.value)" class="input__inner" type="text" name="my_input"
			placeholder="<------- Paste the URL here ------->">
		<span class="input__border"></span>
	</div>

	<button (click)='go(pastedURL.value)' (mouseDown)="go(pastedURL.value)"
		(window:keypress.enter)="go(pastedURL.value)">Go</button>
</div>

<br>

<div id="textbox">
	<p class="alignleft">
		<button [hidden]="!show">
			<i class="fa fa-plus" style="font-size:18px;color:rgb(255, 255, 255)"><b> Append Excel </b></i>
		</button>
	</p>
	<p class="aligncenter">
		<button>
			<i class="fa fa-file-excel-o" style="font-size:18px;color:rgb(255, 255, 255);"><b> Complete Excel </b></i>
		</button>
	</p>
	<p class="alignright">
		<button [hidden]="!show" (click)="exportAsXLSX()">
			<i class="fa fa-download" style="font-size:18px;color:rgb(255, 255, 255)"><b> Current Excel </b></i>
		</button>
	</p>
</div>



<div *ngIf="show">

	<table class="table table-striped">
		<tr>
			<td><b>Board </b></td>
			<td><b>Test Case</b></td>
			<td><b>Run Time</b></td>
			<td><b>Build ID</b></td>
			<td><b>Status</b></td>
		</tr>
		<tbody>
			<tr *ngFor="let item of dataOfATC">
				<td>{{item.Board}}</td>
				<td>{{item.Testcase}}</td>
				<td>{{item.RunTime}}</td>
				<td>{{item.Buildname}}</td>
				<td>{{item.Status}}</td>
			</tr>
		</tbody>
	</table>


</div>



<app-loader></app-loader>